Automated Client Onboarding Workflow.json
{
  "name": "Automated Client Onboarding Workflow",
  "nodes": [
    {
      "parameters": {
        "formId": "AJMGWUg5"
      },
      "id": "68fed982-811e-4c90-869d-12a1770f1ae4",
      "name": "New Client Form Submitted",
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1.1,
      "position": [
        -560,
        -32
      ],
      "webhookId": "9105facf-7a2f-47f1-943c-b2aa1403b70d",
      "credentials": {
        "typeformApi": {
          "id": "aIoie3uoDZZtNgIU",
          "name": "Typeform account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "clientName",
              "type": "string",
              "value": "={{ $json[\"Client name\"] ?? $json[\"Client Name\"] ?? $json.client_name ?? \"Unknown Client\" }}"
            },
            {
              "id": "a2",
              "name": "companyName",
              "type": "string",
              "value": "={{ $json[\"Company\"] ?? $json.company ?? \"\" }}"
            },
            {
              "id": "a3",
              "name": "clientEmail",
              "type": "string",
              "value": "= {{ $json[\"Email \"] ?? $json[\"Email\"] ?? $json.email ?? \"\" }}"
            },
            {
              "id": "a4",
              "name": "projectName",
              "type": "string",
              "value": "={{ $json[\"Project Name\"] ?? $json.project_name ?? \"New Project\" }}"
            },
            {
              "id": "a5",
              "name": "serviceType",
              "type": "string",
              "value": "={{ $json[\"Service Type\"] ?? $json.service_type ?? \"General\" }}"
            },
            {
              "id": "a6",
              "name": "submittedAt",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fa3743b2-d35f-4b36-9bb2-559dd3e6bc1a",
      "name": "Normalize Client Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.clientEmail }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "@",
              "id": "880657eb-184e-47d6-a750-50c7ac74c7ab"
            },
            {
              "id": "701001dc-1797-42fb-9913-6ab1ea139f3f",
              "leftValue": "={{ $json.clientEmail }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bebcddc3-1fc1-47e1-8ee0-a5d2fe7cec71",
      "name": "Has Valid Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        -32
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.clientName }} - {{ $json.projectName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "id": "9a5ced1d-64f0-4f00-a5f2-32c559013a4c",
      "name": "Create Client Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        112,
        -128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tugGIGBkd4JSd4Vh",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Contracts",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "id": "01f2db2a-74c1-4ccc-bc7f-479b61287595",
      "name": "Create /Contracts",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -416
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tugGIGBkd4JSd4Vh",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "c687ce1b-709e-4819-8517-364e52efff01",
      "name": "Combine Folder Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        -256
      ]
    },
    {
      "parameters": {},
      "id": "eb868f0a-13ee-4311-ad2f-ddb25a18cd93",
      "name": "Skip - Invalid Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        112,
        64
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Assets",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "id": "1b8bcb37-5692-4b48-a9cd-edd1ebf8e557",
      "name": "Create /Assets",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -224
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tugGIGBkd4JSd4Vh",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Deliverables",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "id": "14368c65-31fc-48fc-aaf0-d034a3571921",
      "name": "Create /Deliverables",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tugGIGBkd4JSd4Vh",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Invoices",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "id": "2b7d244f-481a-4490-a30d-21edb3fb70ee",
      "name": "Create /Invoices",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tugGIGBkd4JSd4Vh",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "38fd0dea-aaf3-80ef-ad8e-d3a22e48490d",
          "mode": "list",
          "cachedResultName": "Clients project",
          "cachedResultUrl": "https://app.notion.com/p/38fd0deaaaf380efad8ed3a22e48490d"
        },
        "title": "={{ $(\"Create Client Folder\").item.json.name }}",
        "propertiesUi": {
          "propertyValues": []
        },
        "options": {}
      },
      "id": "b16419d6-e6d5-4baf-a967-2c2ff44d6891",
      "name": "Create Notion Project Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        784,
        -224
      ],
      "executeOnce": true,
      "credentials": {
        "notionOAuth2Api": {
          "id": "ZWupnTx0Uv7eayo7",
          "name": "Notion OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $(\"Normalize Client Data\").item.json.clientEmail }}",
        "subject": "=Welcome aboard, {{ $(\"Normalize Client Data\").item.json.clientName }}!",
        "message": "=<p>Hi {{ $(\"Normalize Client Data\").item.json.clientName }},</p><p>Thank you for choosing us for <strong>{{ $(\"Normalize Client Data\").item.json.projectName }}</strong> - we are thrilled to get started!</p><p>Here is everything you need to know:</p><ul><li><strong>Project folder:</strong> <a href=\"https://drive.google.com/drive/folders/{{ $(\"Create Client Folder\").item.json.id }}\">Open in Google Drive</a></li><li><strong>Project workspace:</strong> <a href=\"{{ $(\"Create Notion Project Page\").item.json.url }}\">Open in Notion</a></li><li><strong>Service type:</strong> {{ $(\"Normalize Client Data\").item.json.serviceType }}</li></ul><p>Our kickoff timeline:</p><ol><li>Kickoff Call - within 2 business days</li><li>Asset Collection - week 1</li><li>Design / Build Phase - week 2 onward</li></ol><p>If you have any questions in the meantime, just reply to this email and we will be happy to help.</p><p>Looking forward to working with you!</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "858a4cc8-30bc-4acb-b234-e3bbbbb51edb",
      "name": "Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        -320
      ],
      "webhookId": "59356506-047a-488c-b2dd-49e314b7d2c0",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ZmXHJj7WY8pTwHH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GXpvwcJLqopMtrPHTjVp-p8affvIZhcqIZWY4lIjcjQ",
          "mode": "list",
          "cachedResultName": "Client Onboarding Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GXpvwcJLqopMtrPHTjVp-p8affvIZhcqIZWY4lIjcjQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GXpvwcJLqopMtrPHTjVp-p8affvIZhcqIZWY4lIjcjQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Normalize Client Data').item.json.submittedAt }}\n",
            "Client Name": "={{ $('Normalize Client Data').item.json.clientName }}",
            "Company": "={{ $('Normalize Client Data').item.json.companyName }}\n",
            "Email": "={{ $('Normalize Client Data').item.json.clientEmail }}\n",
            "Project": "={{ $('Normalize Client Data').item.json.projectName }}",
            "Service Type": "={{ $('Normalize Client Data').item.json.serviceType }}\n",
            "Drive Folder URL": "={{ \"https://drive.google.com/drive/folders/\" + $('Create Client Folder').item.json.id }}",
            "Notion workspace URL": "={{ $('Create Notion Project Page').item.json.url }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service Type",
              "displayName": "Service Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drive Folder URL",
              "displayName": "Drive Folder URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notion workspace URL",
              "displayName": "Notion workspace URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3ce9b04c-44a0-41d4-8871-4ae29a4066be",
      "name": "Log Onboarding Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        -224
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3Z4T0D5RolQXlozS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "abdulhafeez.bello01@gmail.com",
        "subject": "=New client onboarded: {{ $(\"Normalize Client Data\").item.json.clientName }}",
        "message": "=<p><strong>New client onboarded</strong></p><ul><li><strong>Client:</strong> {{ $(\"Normalize Client Data\").item.json.clientName }} ({{ $(\"Normalize Client Data\").item.json.companyName }})</li><li><strong>Service:</strong> {{ $(\"Normalize Client Data\").item.json.serviceType }}</li><li><strong>Drive folder:</strong> https://drive.google.com/drive/folders/{{ $(\"Create Client Folder\").item.json.id }}</li><li><strong>Notion workspace:</strong> {{ $(\"Create Notion Project Page\").item.json.url }}</li></ul>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "a9ecd38f-fe36-46e9-8ad8-6bdb81d42c00",
      "name": "Notify Internal Team",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        -128
      ],
      "webhookId": "0c8581e3-c190-4e6e-9dc0-6dbb75d6a2e9",
      "credentials": {
        "gmailOAuth2": {
          "id": "8ZmXHJj7WY8pTwHH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "Before you activate: 1) Typeform Trigger - connect your Typeform account and pick the form. 2) Notion node - connect Notion and pick your Client Projects database. 3) Google Sheets node - pick your onboarding log spreadsheet and tab. 4) Notify Internal Team - replace the placeholder email with your team inbox (swap this node for Slack if you connect Slack later).",
        "height": 200,
        "width": 540,
        "color": 4
      },
      "id": "1b812fe7-9961-455b-b3e9-1e3e6911a29d",
      "name": "Sticky Note 1a350b48",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -592,
        -336
      ]
    },
    {
      "parameters": {
        "content": "Google Drive: creates the client folder, then 4 subfolders in parallel - Contracts, Assets, Deliverables, Invoices.",
        "height": 680,
        "width": 580,
        "color": 5
      },
      "id": "bb21d955-a0e0-421b-b7c9-b2fe4c3ace8e",
      "name": "Sticky Note 949b6067",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -352
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "New Client Form Submitted": {
      "main": [
        [
          {
            "node": "Normalize Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Client Data": {
      "main": [
        [
          {
            "node": "Has Valid Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Valid Email?": {
      "main": [
        [
          {
            "node": "Create Client Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - Invalid Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Client Folder": {
      "main": [
        [
          {
            "node": "Create /Contracts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create /Assets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create /Deliverables",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create /Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create /Contracts": {
      "main": [
        [
          {
            "node": "Combine Folder Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Folder Results": {
      "main": [
        [
          {
            "node": "Create Notion Project Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create /Assets": {
      "main": [
        [
          {
            "node": "Combine Folder Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create /Deliverables": {
      "main": [
        [
          {
            "node": "Combine Folder Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Create /Invoices": {
      "main": [
        [
          {
            "node": "Combine Folder Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Create Notion Project Page": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Internal Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Log Onboarding Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Internal Team": {
      "main": [
        [
          {
            "node": "Log Onboarding Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "6a5e7cb5-bf52-491e-8d6c-61769646bd3c",
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp",
    "templateCredsSetupCompleted": true,
    "instanceId": "5d5f2e758551db8617f258e483e640c3ae3da68c0ec8b84f839ebf5b9fba34ea"
  },
  "nodeGroups": [],
  "id": "yOj5nYIzVZJMzTJt",
  "tags": []
}